 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <!-- <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p> -->
                    <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
                </div>
                <div class="col-lg-4">
                    <h2>About</h2>
                    <hr>
                    <p>
                      I live in Seattle where I'm currently enrolled in Flatiron School's Data Science Program.
                      Previously, I lived in Tokyo and worked as a translator from Japanese to English, and before that
                      I had a 20 year stint in the Bible Belt.
                      The two loves of my life are books and plastic forks (featured at left, I-Spy edition).
                      Three quotes to live by:<br><br>
                    </p>
                    <p>
                      石の上にも三年。'Even sitting on a rock, wait three years.' <br>
                      – a Japanese proverb
                    </p>
                    <p>
                      Your target audience is your younger self. <br>
                      – <a href="https://jacksonwcrawford.com/">Dr. Jackson Crawford</a>
                    </p>
                    <p>
                      Things taste better in small houses. <br>
                      – <a href="http://www.sro.wa.gov.au/eta/exhibition/things-taste-better-small-houses">Queen Victoria</a>
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
    </section>
